{
  "log": {
    "access": "/var/log/xray/access.log",
    "error": "/var/log/xray/error.log",
    "loglevel": "warning"
  },
  "stats": {},
  "api": {
    "tag": "api",
    "services": [
      "StatsService"
    ]
  },
  "policy": {
    "levels": {
      "0": {
        "statsUserUplink": true,
        "statsUserDownlink": true
      }
    },
    "system": {
      "statsInboundUplink": true,
      "statsInboundDownlink": true,
      "statsOutboundUplink": true,
      "statsOutboundDownlink": true
    }
  },
  "inbounds": [
    {
      "tag": "main",
      "listen": "127.0.0.1",
      "port": 4443,
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "{{ xray_entry_uuid }}",
            "flow": "",
            "email": "all_users"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "grpc",
        "security": "reality",
        "realitySettings": {
          "show": false,
          "dest": "{{ xray_entry_dest }}:443",
          "serverNames": [
            "{{ xray_entry_dest }}"
          ],
          "privateKey": "{{ xray_entry_private_key }}",
          "shortIds": [
            "{{ xray_entry_short_id }}"
          ]
        },
        "grpcSettings": {
          "serviceName": "grpc"
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
          "tls",
          "quic"
        ]
      }
    },
    {
      "tag": "api",
      "listen": "127.0.0.1",
      "port": 54321,
      "protocol": "dokodemo-door",
      "settings": {
        "address": "127.0.0.1"
      }
    }
  ],
  "outbounds": [
    {
      "tag": "proxy_to_germany",
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "{{ hostvars['transit']['ansible_host'] }}",
            "port": 443,
            "users": [
              {
                "id": "{{ xray_transit_uuid }}",
                "encryption": "none",
                "flow": ""
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "grpc",
        "security": "reality",
        "realitySettings": {
          "fingerprint": "chrome",
          "serverName": "{{ xray_transit_dest }}",
          "publicKey": "{{ xray_entry_public_key }}",
          "shortId": "{{ xray_entry_short_id }}",
          "spiderX": "/"
        },
        "grpcSettings": {
          "serviceName": "grpc",
          "idle_timeout": 60,
          "health_check_timeout": 15
        }
      }
    },
    {
      "tag": "direct",
      "protocol": "freedom",
      "settings": {}
    },
    {
      "tag": "blocked",
      "protocol": "blackhole",
      "settings": {}
    }
  ],
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      {
        "type": "field",
        "inboundTag": [
          "api"
        ],
        "outboundTag": "api"
      },
      {
        "type": "field",
        "protocol": [
          "quic"
        ],
        "outboundTag": "blocked"
      },
      {
        "type": "field",
        "ip": [
          "geoip:private"
        ],
        "outboundTag": "blocked"
      },
      {
        "type": "field",
        "domain": [
          "domain:ru",
          "domain:рф",
          "domain:su"
        ],
        "outboundTag": "direct"
      },
      {
        "type": "field",
        "ip": [
          "geoip:ru"
        ],
        "outboundTag": "direct"
      }
    ]
  }
}
