{
  "log": { "loglevel": "warning" },
  "inbounds": [
    {
      "port": 443,
      "protocol": "vless",
      "settings": {
        "clients": [{ "id": "{{ xray_transit_uuid }}", "flow": "" }],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "xhttp",
        "sockopt": {
          "trustedXForwardedFor": [
            "{{ hostvars['entry']['ansible_host'] }}"
          ]
        },
        "security": "reality",
        "realitySettings": {
          "target": "{{ xray_transit_dest }}:443", 
          "serverNames": ["{{ xray_transit_dest }}"],
          "privateKey": "{{ xray_entry_private_key }}",
          "shortIds": ["{{ xray_entry_short_id }}"],
          "mldsa65Seed": "{{ xray_transit_mldsa_seed }}"
        },
        "xhttpSettings": {
          "path": "/{{ xray_transit_xhttp_path | default('transit-stream') }}"
        }
      }
    }
  ],
  "outbounds": [
    {
      "tag": "forward_to_exit",
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "{{ hostvars['exit']['ansible_host'] }}",
            "port": 443,
            "users": [
              {
                "id": "{{ xray_exit_uuid }}",
                "encryption": "none",
                "flow": ""
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "xhttp",
        "security": "reality",
        "realitySettings": {
          "fingerprint": "chrome",
          "serverName": "{{ xray_exit_dest }}",
          "publicKey": "{{ xray_exit_public_key }}",
          "shortId": "{{ xray_exit_short_id }}",
          "spiderX": "/",
          "mldsa65Verify": "{{ xray_exit_mldsa_public }}"
        },
        "xhttpSettings": {
          "path": "/{{ xray_exit_xhttp_path | default('exit-stream') }}"
        }
      }
    }
  ]
}