{
  "log": {
    "loglevel": "warning"
  },
  "inbounds": [
    {
      "listen": "0.0.0.0",
      "port": 443,
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "{{ xray_entry_uuid }}",
            "flow": "xtls-rprx-vision"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "show": false,
          "dest": "{{ xray_entry_dest }}:443",
          "serverNames": ["{{ xray_entry_dest }}"],
          "privateKey": "{{ xray_entry_private_key }}",
          "shortIds": ["{{ xray_entry_short_id }}"]
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls", "quic"]
      }
    }
  ],
  "outbounds": [
    {
      "tag": "proxy_to_germany",
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "{{ hostvars['transit']['ansible_host'] }}",
            "port": 443,
            "users": [
              {
                "id": "{{ xray_transit_uuid }}",
                "encryption": "none",
                "flow": "xtls-rprx-vision"
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "fingerprint": "chrome",
          "serverName": "{{ xray_transit_dest }}",
          "publicKey": "{{ xray_entry_public_key }}",
          "shortId": "{{ xray_entry_short_id }}",
          "spiderX": "/"
        }
      }
    },
    {
      "tag": "direct",
      "protocol": "freedom",
      "settings": {}
    },
    {
      "tag": "blocked",
      "protocol": "blackhole",
      "settings": {}
    }
  ],
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      {
        "type": "field",
        "protocol": ["quic"],
        "outboundTag": "blocked"
      },
      {
        "type": "field",
        "ip": ["geoip:private"],
        "outboundTag": "blocked"
      },
      {
        "type": "field",
        "domain": [
          "domain:ru", 
          "domain:рф", 
          "domain:su"
        ],
        "outboundTag": "direct"
      },
      {
        "type": "field",
        "ip": ["geoip:ru"],
        "outboundTag": "direct"
      }
    ]
  }
}